@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@font-face {
    font-family: 'ThunderBlack';
    src: url('fonts/Thunder/Thunder-BlackLC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'ThunderRegular';
    src: url('fonts/Thunder/Thunder-LC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

:root {
  --bg-color: #ffffff;
  --txt-color: #1b1b1b;
}

::-moz-selection { /* Code for Firefox */
  color: var(--bg-color);
  background: var(--txt-color);
}

::selection {
  color: var(--bg-color);
  background: var(--txt-color);
}

html, body {
  overflow-x: hidden;
}
body {
    margin: 0;
    background: var(--bg-color);;
    color: var(--txt-color);
    font-family: "Lora", italic;
}
.container {
    width: 100vw;
    max-width: 1700px;
    margin: 40px auto;
    padding: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}
.hero {
  margin-bottom: 50px;
  height: 75vh;
  position: relative;
}

.hero-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.hero-me img {
  width: 320px;
  height: auto;
  display: block;
}
.hero-me::after {
    content: "";
    position: absolute;
    inset: 0;
}


/* titolo gigante */
.hero-title {
    font-family: "ThunderBlack";
    text-transform: uppercase;
    font-size: 400px; 
}
.hero-image{
  overflow: hidden;
  position: relative;
  height: 35vh;
  width: 100%;
}
.hero-image img{
  position: absolute;
  width: 100%;
  object-fit: cover;
  bottom: -25%;
}
.hero-image::after {
    content: "";
    position: absolute;
    inset: 0;
}



/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.header img {
    font-style: italic;
    font-size: 30px;
    height: 45px;
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-size: 24px;
}
.nav a:hover{
    text-decoration: underline;
}

/* Titolo */
.title {
    font-size: 24px;
    letter-spacing: 2px;
    margin: 40px 0 18px 0;
}

/* Flickity */
.flickity-viewport {
  overflow: visible;
}
.carousel {
    background: transparent;
}

.carousel-cell {
    position: relative;
    height: 700px;
    margin-right: 20px;
    display: inline-block;
    background-color: #c0c0c0;
}

.carousel-cell img {
    height: 100%;
    width: auto;
    display: block;
}

.carousel-cell::after {
    content: "";
    position: absolute;
    inset: 0;
}

.footer{
  color: var(--bg-color);
  background-color: var(--txt-color);
  font-family: "ThunderRegular";
  margin-top: 30px;
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer p{
  font-size: 45px;
}
#email {
  cursor: pointer;
  display: inline-block;
}

/* hover */
#email:hover {
  text-decoration: underline;
}
@media (max-width: 1600px) {
  .hero-me img {
    display: none;
  }
}
/* MOBILE */
@media (max-width: 1080px) {
  .header img{
    height: 50px;
  }
  .nav a{
    font-size: 40px;
  }
  .hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 4 / 3;
    margin-bottom: 25px;
    width: 100%;
    height: auto;
  }
  .hero-top {
    height: 300px;
  }


  .hero-image{
    height: 90%;
  }
  .hero-image img{
    bottom: 0;
  }


  .hero-title {
    width: 100%;
    font-size: 300px;
  }

  .container {
    width: 100%;
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .title {
    font-size: 40px;
  }

  .carousel-cell {
    height: 600px; /* più basso per mobile */
    margin-right: 12px;
  }

  .carousel-cell img {
    height: 100%;
    width: auto;
  }
  .footer{
    width: 100vw;
    transform: translateX(-20px);
  }
  .footer p{
    text-decoration: underline;
  }


}



@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@font-face {
    font-family: 'ThunderBlack';
    src: url('fonts/Thunder/Thunder-BlackLC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'ThunderRegular';
    src: url('fonts/Thunder/Thunder-LC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

:root {
  --bg-color: #ffffff;
  --txt-color: #1b1b1b;
}

::-moz-selection { /* Code for Firefox */
  color: var(--bg-color);
  background: var(--txt-color);
}

::selection {
  color: var(--bg-color);
  background: var(--txt-color);
}

html, body {
  overflow-x: hidden;
}
body {
    margin: 0;
    background: var(--bg-color);;
    color: var(--txt-color);
    font-family: "Lora", italic;
}
.container {
    width: 100vw;
    max-width: 1700px;
    margin: 40px auto;
    padding: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}
.hero {
  margin-bottom: 50px;
  height: 75vh;
  position: relative;
}

.hero-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.hero-me img {
  width: 320px;
  height: auto;
  display: block;
}


/* titolo gigante */
.hero-title {
    font-family: "ThunderBlack";
    text-transform: uppercase;
    font-size: 400px; 
}
.hero-image{
  overflow: hidden;
  position: relative;
  height: 35vh;
  width: 100%;
}
.hero-image img{
  position: absolute;
  width: 100%;
  object-fit: cover;
  bottom: -25%;
}



/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.header img {
    font-style: italic;
    font-size: 30px;
    height: 45px;
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-size: 24px;
}
.nav a:hover{
    text-decoration: underline;
}

/* Titolo */
.title {
    font-size: 24px;
    letter-spacing: 2px;
    margin: 40px 0 18px 0;
}

/* Flickity */
.flickity-viewport {
  overflow: visible;
}
.carousel {
    background: transparent;
}

.carousel-cell {
    position: relative;
    height: 700px;
    margin-right: 20px;
    display: inline-block;
    background-color: #c0c0c0;
}

.carousel-cell img {
    height: 100%;
    width: auto;
    display: block;
}

.carousel-cell::after {
    content: "";
    position: absolute;
    inset: 0;
}

.footer{
  color: var(--bg-color);
  background-color: var(--txt-color);
  font-family: "ThunderRegular";
  margin-top: 30px;
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer p{
  font-size: 45px;
}
#email {
  cursor: pointer;
  display: inline-block;
}

/* hover */
#email:hover {
  text-decoration: underline;
}
@media (max-width: 1600px) {
  .hero-me img {
    display: none;
  }
}
/* MOBILE */
@media (max-width: 1080px) {
  .header img{
    height: 50px;
  }
  .nav a{
    font-size: 40px;
  }
  .hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 4 / 3;
    margin-bottom: 25px;
    width: 100%;
    height: auto;
  }
  .hero-top {
    height: 300px;
  }


  .hero-image{
    height: 90%;
  }
  .hero-image img{
    bottom: 0;
  }


  .hero-title {
    width: 100%;
    font-size: 300px;
  }

  .container {
    width: 100%;
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .title {
    font-size: 40px;
  }

  .carousel-cell {
    height: 600px; /* più basso per mobile */
    margin-right: 12px;
  }

  .carousel-cell img {
    height: 100%;
    width: auto;
  }
  .footer{
    width: 100vw;
    transform: translateX(-20px);
  }
  .footer p{
    text-decoration: underline;
  }


}



