@font-face {
    font-family: 'ThunderBlack';
    src: url('fonts/Thunder/Thunder-BlackLC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'ThunderRegular';
    src: url('fonts/Thunder/Thunder-LC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Delight';
    src: url('fonts/Delight/Delight-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
:root {
  --bg-color: #ffffff;
  --txt-color: #1b1b1b;
}

::-moz-selection { /* Code for Firefox */
  color: var(--bg-color);
  background: var(--txt-color);
}

::selection {
  color: var(--bg-color);
  background: var(--txt-color);
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
    margin: 0;
    background: var(--bg-color);;
    color: var(--txt-color);
    font-family: "Delight";
}
a, a:visited, a:link, a:active{
  text-decoration: none;
  color: var(--txt-color);
}
a:hover{
  text-decoration: underline;
}

/* -----------------------------------------------------LOADER */

.loader {
  position: fixed;
  inset: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.6s ease;
}

.loader-line {
  height: 75px;
  aspect-ratio: 1;
  animation: l3 1s infinite alternate linear;
  background: var(--txt-color);
}
@keyframes l3 {
  0%{clip-path: shape(from 85.0242216976% 60.8470934779%, curve to 80.3178442208% 70.6199870088% with 95.0484433951% 71.6941869559%, curve to 63.3566458721% 84.1460913354% with 65.5872450465% 69.5457870617%, curve to 52.7815116745% 86.5597967068% with 61.1260466978% 98.7463956091%, curve to 31.6312432791% 81.732385964% with 44.4369766511% 74.3731978045%, curve to 23.1506441048% 74.9693338007% with 18.8255099071% 89.0915741234%, curve to 13.7378891512% 55.423546739% with 27.4757783024% 60.8470934779%, curve to 13.7378891512% 44.576453261% with 0% 50%, curve to 23.1506441048% 25.0306661993% with 27.4757783024% 39.1529065221%, curve to 31.6312432791% 18.267614036% with 18.8255099071% 10.9084258766%, curve to 52.7815116745% 13.4402032932% with 44.4369766511% 25.6268021955%, curve to 63.3566458721% 15.8539086646% with 61.1260466978% 1.2536043909%, curve to 80.3178442208% 29.3800129912% with 65.5872450465% 30.4542129383%, curve to 85.0242216976% 39.1529065221% with 95.0484433951% 28.3058130441%, curve to 85.0242216976% 60.8470934779% with 75% 50%)}
  to {clip-path: shape(from 86.2621108488% 55.423546739%, curve to 76.8493558952% 74.9693338007% with 72.5242216976% 60.8470934779%, curve to 68.3687567209% 81.732385964% with 81.1744900929% 89.0915741234%, curve to 47.2184883255% 86.5597967068% with 55.5630233489% 74.3731978045%, curve to 36.6433541279% 84.1460913354% with 38.8739533022% 98.7463956091%, curve to 19.6821557792% 70.6199870088% with 34.4127549535% 69.5457870617%, curve to 14.9757783024% 60.8470934779% with 4.9515566049% 71.6941869559%, curve to 14.9757783024% 39.1529065221% with 25% 50%, curve to 19.6821557792% 29.3800129912% with 4.9515566049% 28.3058130441%, curve to 36.6433541279% 15.8539086646% with 34.4127549535% 30.4542129383%, curve to 47.2184883255% 13.4402032932% with 38.8739533022% 1.2536043909%, curve to 68.3687567209% 18.267614036% with 55.5630233489% 25.6268021955%, curve to 76.8493558952% 25.0306661993% with 81.1744900929% 10.9084258766%, curve to 86.2621108488% 44.576453261% with 72.5242216976% 39.1529065221%, curve to 86.2621108488% 55.423546739% with 100% 50%);
  }
}

/* quando sparisce */
.loader.hidden {
  opacity: 0;
  pointer-events: none;
}

/* -----------------------------------------------------CONTAINER */
.container {
    width: 100vw;
    width: 100%;
    max-width: 1700px;
    margin: 40px auto;
    padding: 40px;
    padding: clamp(1rem, 5vw, 2.5rem);
    padding-bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}
/* -----------------------------------------------------HERO */
.hero {
  margin-bottom: 50px;
  height: 75vh;
  max-height: 1300px;
  position: relative;
  overflow: hidden;
}

.hero-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.hero-me img {
  width: 320px;
  height: auto;
  display: block;
}
.hero-me{
  position: relative;
}
.hero-me::after {
    content: "";
    position: absolute;
    inset: 0;
}

.hero-title {
    font-family: "ThunderBlack";
    text-transform: uppercase;
    font-size: clamp(5rem, 24vw, 25rem);
    line-height: 1;
    position: relative;
}
.hero-image{
  overflow: hidden;
  position: relative;
  height: 35vh;
  width: 100%;
}
.hero-image img{
  position: absolute;
  width: 100%;
  object-fit: cover;
  bottom: -30%;
}
.hero-image::after {
    content: "";
    position: absolute;
    inset: 0;
}



/* -----------------------------------------------------HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.header img {
    font-style: italic;
    font-size: 1.8rem;
    height: 45px;
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
}
.nav a:hover{
    text-decoration: underline;
}

/* -----------------------------------------------------DOWN-ARROW */
.down-arrow {
  position: absolute;
  top: calc(100vh - 80px);
  left: calc(50% - 14px);
  width: 0;
  height: 30px;
  border: 2px solid var(--txt-color);
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid var(--txt-color);
  border-right: 4px solid var(--txt-color);
  border-radius: 4px;
  transform: rotateZ(45deg);
}
@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}


/* -----------------------------------------------------INTRODUCTION */
.intro{
  height: 75vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.intro-image{
  height: 60%;
  justify-self: center;
  position: relative;
}
.intro-image img{
  height: 100%;
  width: auto;
  display: block; 
}
.intro-image::after {
    content: "";
    position: absolute;
    inset: 0;
}
.intro h1{
  font-family: "ThunderRegular";
  text-transform: uppercase; 
  font-size: 6.2rem;
  font-size: clamp(3.5rem, 10vw, 6.2rem);
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1;
}
.intro h1 span {
  display: block;
  white-space: nowrap;
}
.intro p{
  font-size: 1.5rem;
  line-height: 1.6;
}
.intro-text{
  width: 45%;
  height: 60%;
}

/* -----------------------------------------------------CAROUSEL */
.title {
    font-size: 1.5rem;
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    letter-spacing: 2px;
    margin: 40px 0 18px 0;
}

.flickity-viewport {
  overflow: visible;
}
.carousel {
    background: transparent;
}

.carousel-cell {
    position: relative;
    height: 700px;
    margin-right: 20px;
    display: inline-block;
    background-color: #c0c0c0;
}

.carousel-cell img {
    height: 100%;
    width: auto;
    display: block;
}



.flickity-page-dots {
  bottom: -22px;
  text-align: left;
}

.flickity-page-dots .dot {
  height: 7px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}
.expMore{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "ThunderBlack";
  font-size: 5rem;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, .5);
  color: var(--bg-color);
}


/* -----------------------------------------------------FOOTER */
.footer{
  color: var(--bg-color);
  background-color: var(--txt-color);
  font-family: "ThunderRegular";
  margin-top: 30px;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
}
.footer p{
  font-size: 2.8rem;
}

#email {
  cursor: pointer;
  display: inline-block;
}

#email:hover {
  text-decoration: underline;
}

.topArrow{
  width: 3rem;
  height: 3rem;
}
.topArrow img{
  width: 100%;
  height: auto;
}




/* -----------------------------------------------------MEDIA-QUERY----------------------------------------------------- */
@media (max-width: 1600px) {
  .hero-me img {
    display: none;
  }
}
@media (min-height: 1600px) {
  .down-arrow{
    display: none;
  }
}

@media (max-width: 1100px) {
  .header img{
    height: 50px;
  }
  .nav a{
    font-size: 2.5rem;
  }
  .hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 4 / 3;
    margin-bottom: 25px;
    width: 100%;
    height: auto;
  }
  .hero-top {
    height: 300px;
  }


  .hero-image{
    height: 90%;
  }
  .hero-image img{
    bottom: 0;
  }


  .hero-title {
    width: 100%;
  }
  .down-arrow{
    display: none;
  }

  .container {
    width: 100%;
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .intro{
    height: auto;
    margin: 100px 0 100px 0;
    justify-content: left;
  }
  .intro img{
    height: 30vh;
    margin-bottom: 0;
  }
  .intro-text{
    width: auto;
    margin: 0 80px 0 40px;
  }
  .intro h1{
    font-size: 5rem;
    margin-bottom: 0;
  }
  .intro p{
    font-size: 1.5rem;
    padding-right: 0;
    line-height: 1.3;
    margin-top: 10px;
  }

  .title {
    font-size: 2.5rem;
  }

  .carousel-cell {
    height: 600px;
    margin-right: 12px;
  }

  .carousel-cell img {
    height: 100%;
    width: auto;
  }
  .footer{
    width: calc(100vw - (5rem * 2));
    transform: translateX(-20px);
  }
  .footer p{
    text-decoration: underline;
  }


}
@media (max-height: 850px) and (max-width: 1300px) {
  .container {
    margin: 10px auto;
    padding: 2rem;
  }

  .header{
    height: 1.5rem;
    margin-bottom: 10px;
  }

  .hero-title{
    font-size: 15rem;
  }
  .hero-image img{
    bottom: -50%;
  }
  .intro-text h1{
    font-size: 4rem;
  }
  .intro-text p{
    font-size: 1rem;
  }
  .carousel-cell {
    height: 400px;
  }
  .flickity-page-dots {
    bottom: -15px;
  }
  .footer{
    padding: 4rem;
  }
}
