@font-face {
    font-family: 'ThunderBlack';
    src: url('../fonts/Thunder/Thunder-BlackLC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Delight';
    src: url('../fonts/Delight/Delight-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'ThunderRegular';
    src: url('../fonts/Thunder/Thunder-LC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

:root {
  --bg-color: #ffffff;
  --txt-color: #1b1b1b;
}
::-moz-selection { /* Code for Firefox */
  color: var(--bg-color);
  background: var(--txt-color);
}

::selection {
  color: var(--bg-color);
  background: var(--txt-color);
}

body {
    margin: 0;
    background: var(--bg-color);;
    color: var(--txt-color);
    font-family: "Delight";
}
html{
    scroll-behavior: smooth;
}
a, a:visited, a:link, a:active{
  color: var(--txt-color);
  text-decoration: none;

}
/* -----------------------------------------------------LOADER */
.loader {
  position: fixed;
  inset: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.6s ease;
}

.loader-line {
  height: 75px;
  aspect-ratio: 1;
  animation: l3 1s infinite alternate linear;
  background: var(--txt-color);
}
@keyframes l3 {
  0%{clip-path: shape(from 85.0242216976% 60.8470934779%, curve to 80.3178442208% 70.6199870088% with 95.0484433951% 71.6941869559%, curve to 63.3566458721% 84.1460913354% with 65.5872450465% 69.5457870617%, curve to 52.7815116745% 86.5597967068% with 61.1260466978% 98.7463956091%, curve to 31.6312432791% 81.732385964% with 44.4369766511% 74.3731978045%, curve to 23.1506441048% 74.9693338007% with 18.8255099071% 89.0915741234%, curve to 13.7378891512% 55.423546739% with 27.4757783024% 60.8470934779%, curve to 13.7378891512% 44.576453261% with 0% 50%, curve to 23.1506441048% 25.0306661993% with 27.4757783024% 39.1529065221%, curve to 31.6312432791% 18.267614036% with 18.8255099071% 10.9084258766%, curve to 52.7815116745% 13.4402032932% with 44.4369766511% 25.6268021955%, curve to 63.3566458721% 15.8539086646% with 61.1260466978% 1.2536043909%, curve to 80.3178442208% 29.3800129912% with 65.5872450465% 30.4542129383%, curve to 85.0242216976% 39.1529065221% with 95.0484433951% 28.3058130441%, curve to 85.0242216976% 60.8470934779% with 75% 50%)}
  to {clip-path: shape(from 86.2621108488% 55.423546739%, curve to 76.8493558952% 74.9693338007% with 72.5242216976% 60.8470934779%, curve to 68.3687567209% 81.732385964% with 81.1744900929% 89.0915741234%, curve to 47.2184883255% 86.5597967068% with 55.5630233489% 74.3731978045%, curve to 36.6433541279% 84.1460913354% with 38.8739533022% 98.7463956091%, curve to 19.6821557792% 70.6199870088% with 34.4127549535% 69.5457870617%, curve to 14.9757783024% 60.8470934779% with 4.9515566049% 71.6941869559%, curve to 14.9757783024% 39.1529065221% with 25% 50%, curve to 19.6821557792% 29.3800129912% with 4.9515566049% 28.3058130441%, curve to 36.6433541279% 15.8539086646% with 34.4127549535% 30.4542129383%, curve to 47.2184883255% 13.4402032932% with 38.8739533022% 1.2536043909%, curve to 68.3687567209% 18.267614036% with 55.5630233489% 25.6268021955%, curve to 76.8493558952% 25.0306661993% with 81.1744900929% 10.9084258766%, curve to 86.2621108488% 44.576453261% with 72.5242216976% 39.1529065221%, curve to 86.2621108488% 55.423546739% with 100% 50%);
  }
}
/* quando sparisce */
.loader.hidden {
  opacity: 0;
  pointer-events: none;
}

/* -----------------------------------------------------CONTAINER */
.container {
    width: 100vw;
    max-width: 1700px;
    margin: 40px auto;
    padding: clamp(1rem, 10vw, 10.5rem);
    padding-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}
/* -----------------------------------------------------NAVBAR */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.nav img{
    font-style: italic;
    font-size: 1.8rem;
    height: 45px;
}
.title {
    font-size: 150px;
    text-transform: uppercase;
    line-height: 1;
    margin-top: 45px;
    width: 100%;
    text-align: center;
    font-family: 'ThunderBlack';
}

/* freccia indietro */
.back {
    cursor: pointer;
    font-size: 3rem;
    user-select: none;
}
/* -----------------------------------------------------GALLERY */
.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.gallery::after {
    content: "";
    position: absolute;
    inset: 0;
}


.row {
  display: flex;
  gap: 10px;
}

.row img {
  width: 100%;
  height: auto;
  min-width: 0;
}

.full {
  width: 100%;
}
/* -----------------------------------------------------BACK-TO-TOP-ARROW */
.topArrow{
    position: fixed;
    bottom: 5vw;
    right: 5vw;
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    color: var(--txt-color);
    z-index: 999;
    background-color: var(--txt-color);
}
.topArrow img{
    width: 100%;
    height: auto;
}
/* -----------------------------------------------------FOOTER */
.footer{
  color: var(--bg-color);
  background-color: var(--txt-color);
  font-family: "ThunderRegular";
  margin-top: 30px;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}
.footer p{
  font-size: 2.8rem;
}

#email {
  cursor: pointer;
  display: inline-block;
}

#email:hover {
  text-decoration: underline;
}
/* -----------------------------------------------------MEDIA-QUERY----------------------------------------------------- */
@media (max-width: 1100px){
    .container{
        padding: clamp(1rem, 5vw, 10.5rem);
    }
    .row{
        flex-direction: column;
    }
    .topArrow{
        right: 2rem;
        bottom: 7rem;
        width: 4rem;
        height: 4rem;
        padding: 0;
    }
}
@media (max-height: 850px) and (max-width: 1300px){
    .container{
        padding: 3rem 9rem 3rem 9rem;
    }
    .topArrow{
        width: 3rem;
        height: 3rem;
    
    }
}
